.admin-page{
    width: 100%;
    background: #143a7d;
    min-height: 100vh;
    position: relative;
}
.setting-bar{
    position: fixed;
    top: 90px;
    right: 5px;
    width: 150px;
    height: 140px;
    background: rgba(2, 84, 178, 0.9);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    z-index: 11;
    padding: 20px 5px;
    gap: 5px;
}
.setting-bar>li{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: rgb(168, 219, 241);
    width: 140px;
    padding-left: 10px;
    border-radius: 5px;
    height: 30px;
    z-index: 11;
    cursor: pointer;
}
.setting-bar>li:hover{
    background: #3571d8;
}


.language-sect{
    position: fixed;
    top: 90px;
    right: 160px;
    width: 120px;
    background: rgba(2, 84, 178, 0.9);    
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 11;
}
.language-head{
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(145, 197, 220);
}
.language-sect h4{
    color: rgb(168, 219, 241);
    font-size: 17px;
    font-weight: 600;
}
.language-sect ul{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.language-sect ul>li{
    width: 100px;
    padding: 2px 15px;
    color: rgb(168, 219, 241);
    border-radius: 4px;
    cursor: pointer;
}
.language-sect ul>li:hover{
    background: #3571d8;
}


.mirror-box{
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 10;
}



.admin-header{
    width: 100%;
    height: 100px;
    background: rgba(6, 83, 170, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 20px;
    position: fixed;
    z-index: 10;
}
.admin-header>img{
    width: 280px;
}
.search-inp{
    width: 400px;
    height: 35px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-inp>input{
    width: 360px;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 10px;
}
.search-inp>i{
    font-size: 22px;
    color: #0652aa;
    cursor: pointer;
    /* border: solid 1px #0652aa; */
}
.header-mid{
    display: flex;
    align-items: center;
    gap: 20px;
}
.add-icon{
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #6ea6df, #005bb5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border: 2px solid rgb(17, 110, 153);
}
.add-icon:hover{
    transform: scale(1.05);
    box-shadow: 0 0 6px rgba(255,255,255,0.4);
}



.admin-body{
    padding: 140px 130px 50px 130px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.category-list{
    display: flex;
    font-size: 25px;
    gap: 60px;
    color: white;
}
.category-list>li{
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
}
.category-list>li:hover{
    background: #1c4da1;
}
.products-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.products-list>li{
    width: 400px;
    background: #3571d8;
    border-radius: 10px;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    color: rgb(187, 185, 185);
    align-items: center;
}
.item-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item-left>h3{
    color: rgb(210, 236, 251);
    font-size: 25px;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
}
.item-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}


.add-panel{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 620px;
    padding: 50px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 12;
    background: #1c4da1;
    border-radius: 20px;
    button{
        margin-top: 20px;
        width: 150px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 5px;
        background: linear-gradient(135deg, #6ea6df, #005bb5);
        color: white;
        font-size: 18px;
        cursor: pointer;
        border: 2px solid rgb(17, 110, 153);
    }
}
#x-btn{
    position: absolute;
    top: -105px;
    left: 360px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: rgb(254, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#x-btn:hover{
    opacity: 0.9;
}
#x-btn:active{
    transform: scale(0.95);
}
#x-btn span{
    
    transform: rotate(45deg);
}       
.add-panel>h2{
    color: white;
    font-size: 35px;
}
.add-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.add-form>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    label{
        color: rgb(207, 200, 200);
        font-size: 16px;
        cursor: pointer;    
    };
}
.selection-tab{
    width: 370px;
    height: 35px;
    border-radius: 5px;
    padding-right: 15px;
    font-size: 16px;
    background: white;
    select{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 15px;
    }
}
.add-form>div>input{
    width: 370px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;

}



.shadow-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 11;
}